datasets
scikit-learn
jieba
openai
langchain
accelerate
bitsandbytes
coverage
flake8
flask
huggingface-hub
pytest
tenacity
sentencepiece
mdtex2html
waitress
loralib
cpm_kernels
rouge_chinese
nltk
markdown2
gradio
pypinyin
tiktoken
socksio
colorama
duckduckgo_search
Pygments
llama_index==0.5.13
markdown
PyPDF2
pdfplumber
pandas
commentjson
git+https://github.com/huggingface/transformers.git
git+https://github.com/huggingface/peft.git